@font-face{
    font-family:'myfont';
    src: url('./fonts/font.TTF');
}

@font-face {
    font-family: 'gilyroy';
    src: url('/fonts/gilyroy.ttf')

}

.gilyroy{
    font-family: "gilyroy";
}

.hevy{
    font-family: "myfont";
}

html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color:#060A23;
}

.bg-dark{
    background-color:#060A23;
}

.text-green{
    color: #00db80;
}

.bg-blur{
    filter: blur(170px);
    pointer-events: none;
}

body::-webkit-scrollbar{
    display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.text-linear{
    background:linear-gradient(to left ,green,#ffffff9f,#ffffff45);
    background-clip: text;
    color: transparent;
}

