@font-face{
    font-family:'myfont';
    src: url('./fonts/font.TTF');
}

@font-face {
    font-family: 'gilyroy';
    src: url('/fonts/gilyroy.ttf')

}

.gilyroy{
    font-family: "gilyroy";
}

.hevy{
    font-family: "myfont";
}

html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color:#060A23;
}

.bg-dark{
    background-color:#060A23;
}

.text-green{
    color: #00db80;
}

.bg-blur{
    filter: blur(170px);
    pointer-events: none;
}

body::-webkit-scrollbar{
    display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.text-linear{
    background:linear-gradient(to left ,#04f304,#ffffffef,#9e9e9eae);
    background-clip: text;
    color: transparent;
}

.shadow-green{
    box-shadow: 20px 20px 40px #00db80;
}

.green-drop-shadow{
    filter: drop-shadow(0px 0px 50px #00db80);
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

.bg-blur-gray{
    background-color: rgba(0, 0, 0, 0.541);
}





/* CSS */
.button-8 {
  touch-action: manipulation;
  appearance: button;
  background-color: transparent;
  border-style: initial;
  border-width: 0;
  cursor: pointer;
  margin: 0;
  text-transform: none;
  vertical-align: baseline;
  background-size: 200% 200%;
  animation: rotateColor 3s infinite alternate;
}

.button-8:focus {
  outline: 0;
}

.button-8 {
  touch-action: manipulation;
  background-image: linear-gradient(135deg, rgb(2, 118, 141) 0%, #89f789 50%, #2eb900 100%);
  border-radius: 8px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 5px 40px;
  position: relative;
  transition: transform .2s cubic-bezier(.6, .6, 0, 1), margin-top .2s cubic-bezier(.6, .6, 0, 1);
  transition-behavior: normal, normal;
}

.button-8::before {
  -webkit-mask-clip: content-box, initial;
  -webkit-mask-composite: xor;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-origin: content-box, initial;
  -webkit-mask-position-x: initial, initial;
  -webkit-mask-position-y: initial, initial;
  -webkit-mask-repeat-x: initial, initial;
  -webkit-mask-repeat-y: initial, initial;
  -webkit-mask-size: initial, initial;
  padding: 1px;
}

.button-8::before {
  background-color: initial;
  background-image: linear-gradient(rgba(255, 255, 255, .32), transparent);
  bottom: 0;
  pointer-events: none;
  right: 0;
}

.button-8::after,
.button-8::before {
  border-radius: inherit;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
}

.button-8::after {
  box-shadow: #000019 0 0, rgba(0, 0, 25, .3) 0 9px 21px, rgba(73, 2, 57, .2) 0 -3px inset;
  height: 100%;
  transition: box-shadow .2s cubic-bezier(.6, .6, 0, 1), background-color .2s cubic-bezier(.6, .6, 0, 1);
  transition-behavior: normal, normal;
  width: 100%;
  z-index: 1;
}

.button-8:active {
  transform: translateY(1.5px);
}

.button-8:hover::after {
  background-color: rgba(255, 255, 255, .1);
}

.button-8:active::after {
  box-shadow: #000019 0 0, rgba(0, 118, 63, 0.92) 0 9px 21px, rgba(73, 2, 57, .2) 0 0 inset;
}


@keyframes rotateColor {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}



@keyframes shine {
  0% {
    background-position: -100%;
  }
  50% {
    background-position: 200%;
  }
  100% {
    background-position: -100%;
  }
}

.shine-effect {
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
  background-size: 200% 100%;
  overflow: hidden;
  transition: all 1s ease-in-out;
  animation: shine 5s infinite linear;
}


