@tailwind base;
@tailwind components;
@tailwind utilities;


nav{
    background-color:#09c43b8d;


}


@keyframes vibrate {
  0% { transform: translate(0); }
  20% { transform: translateX(-2px); }
  40% { transform: translateX(-2px); }
  60% { transform: translateX(2px); }
  100% { transform: translateX(-2px); }
}

.vibrate {
  animation: vibrate 0.5s linear infinite;
}


